# Repo specific
.DS_Store
.idea
*.sublime-*
*.pt
*.npy
*.log
*.out


# Compiled
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

/source/cnn/checkpoint/
/source/cnn/data/
/source/cnn/slurm-jobs/
/taiga-baseline/data